# CLI requirements:

#  sys # embedded in python
click
# emcalc.py

# libemcalc.py requrements:
#  nothing

# test_emcalc.py requirements:
# nothing

# emcalc.py requirements:
# libemcalc.py - in the same path